:root {
  font: 16px / 1 sans-serif;
}

html {
  /* height: 100%; */
  /* width: 100vw; */
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #313030;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

body .main-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  justify-content: center;
  color: rgba(240, 231, 231, 0.961);
}

.content {
  color: rgba(240, 231, 231, 0.961);
  justify-content: center;
  font-size: 2.3rem;
}

.content .devtag {
  max-width: 100%;
  overflow-wrap: break-word;
  justify-content: center;
}

.intro {
  padding: 0 30px;
  margin: 100px 0px;
}

.toplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin-bottom: 75px;
}

.toplist .nav-item {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  color: rgb(169, 163, 163);
  padding: 7px 0;
}

.toplist .nav-item.active {
  color: rgb(231, 65, 65);
}

p.brandid {
  list-style: none;
  margin-left: 253px;
}

.devtag {
  color: rgb(231, 65, 65);
}

p.all {
  color: rgb(231, 65, 65);
  margin-right: 18px;
}

p.webdesign {
  color: rgb(169, 163, 163);
  margin-right: 12px;
}

p.digitaldesign {
  color: rgb(169, 163, 163);
  margin-right: 18px;
  margin-left: 11px;
}

.rendering {
  color: rgb(169, 163, 163);
  margin-right: 18px;
}

.brandid {
  color: rgb(169, 163, 163);
  list-style: none;
  justify-content: center;
}

.spookyimage {
  max-width: 100%;
  height: auto;
  padding-bottom: 2.5rem;
}

.footer {
  color: rgb(169, 163, 163);
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: black;
  color: rgba(240, 231, 231, 0.961);
  width: 150px;
  padding: 15px 30px;
}